@import "../../globals";

// Button Icons
// --------------------------------------------------

.button-icon-left .ion-icon,
.button-icon-right .ion-icon {
  font-size: 1em;
  line-height: 1;

  pointer-events: none;
}

.button-icon-left .ion-icon {
  padding-right: .4em;
}

.button-icon-right .ion-icon {
  padding-left: .4em;
}

.button-icon-only {
  padding: 0;

  min-width: .9em;

  .ion-icon {
    padding: 0 .5em;

    font-size: 1.8em;
    line-height: .67;

    pointer-events: none;
  }
}
