@mixin tabbar-color($color-base, $color-contrast: color-inverse($color-base)) {
  border-color: darken($color-base, 10%);
  background-color: $color-base;

  .tab-button {
    color: $color-contrast;
  }

  .tab-button:hover:not(.disable-hover),
  .tab-button.tab-selected {
    color: $color-contrast;
  }
}
