// Spinner: circles
// --------------------------------------------------
@keyframes spinner-fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.spinner-circles circle {
  fill: #69717d;
}

.spinner-circles svg {
  animation: spinner-fade-out 1s linear infinite;
}