// Spinner: crescent
// --------------------------------------------------

@keyframes spinner-rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.spinner-crescent circle {
  fill: transparent;
  stroke: #000;
  stroke-width: 4px;
  stroke-dasharray: 128px;
  stroke-dashoffset: 82px;
}

.spinner-crescent svg {
  animation: spinner-rotate 1s linear infinite;
}