@import "../../globals";

// Icon
// --------------------------------------------------

.ion-icon {
  font-family: "#{$icon-font-family}";
  display: inline-block;

  font-size: 1.2em;

  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  text-rendering: auto;
  text-transform: none;
  speak: none;
}

.ion-icon[small] {
  min-height: 1.1em;

  font-size: 1.1em;
}