@import "../../globals";

.ion-page.fixed {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  overflow: hidden;
}

.ion-modal {
  position: relative;
  z-index: $z-index-overlay;
}

.modal-wrapper > .ion-page {
  background-color: $background-color;
}